{{#if anyItems}}
  <table class="table" style="margin-bottom: 0px">
    <thead>
      <tr>
        <th width="2%"></th>
        <th width="5%" style="vertical-align:top;">Position</th>  
  {{#if yourRanking}}           
        <th width="5%" style="vertical-align:top; text-align:center;">Move</th>
        <th width="78%" style="vertical-align:top;">Name</th>
  {{else}}
        <th width="83%" style="vertical-align:top;">Name</th>
  {{/if}}
        <th width="10%" style="vertical-align:top;">Stars</th>
      </tr>
    </thead>
  </table>
  
  <ul class="nav nav-tabs nav-stacked list-striped" id="ranking">
    {{#each model}}
      <li data-id="{{unbound id}}" data-position="{{unbound position}}">
        <table class="table">
          <tr>
            <td width="2%" style="text-align:center">
              <span class="ranking_item_sortable glyphicon glyphicon-move"></span>
            </td>
            <td class="list-element-striped" width="5%" style="text-align:right">
              {{#link-to 'ranking_item' thingName positiveOrNegativeAdjective rankingTopic rankingScope class="ranking_item_position"}}
                {{position}}
              {{/link-to}}
            </td>        
      {{#if controller.yourRanking}} 
            <td class="list-element-striped" width="5%" style="text-align:center">
              <a {{action 'moveToPreviousPage' id}} title="move to previous page"><span class="glyphicon glyphicon-chevron-left"></span></a> 
              <a {{action 'moveToNextPage' id}} title="move to next page"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </td>
            <td class="list-element-striped" width="78%" style="padding-left:10px;">
              {{#link-to 'thing' thingName}}{{thingName}}{{/link-to}}
            </td> 
      {{else}}
            <td class="list-element-striped" width="83%" style="padding-left:10px;">
              {{#link-to 'thing' thingName}}{{thingName}}{{/link-to}}
            </td>
      {{/if}}
            <td class="list-element-striped" width="10%">
              <div class="stars">
                {{#if is5StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is4StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is3StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is2StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is1StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}
              </div>
            </td>
          </tr>
        </table>
      </li>
    {{/each}}
  </ul>

  {{partial 'shared/pagination'}}
{{else}}
  <p style="padding-top:10px;">No items found.</p>
{{/if}}