{{#if anyItems}}
	<table class="table" style="margin-bottom: 0px">
	  <thead>
	    <tr>
	      <th width="5%" style="vertical-align:top;">Position</th>  
  {{#if yourRanking}}	          
	      <th width="10%" style="vertical-align:top;">Move to</th>
	{{/if}}
	      <th width="55%" style="vertical-align:top;">Name</th>
	      <th width="10%" style="vertical-align:top;">Stars</th>
	    </tr>
	  </thead>
	</table>
	
	<ul class="nav nav-tabs nav-stacked list-striped" id="ranking">
	  {{#each model}}
	    <li data-id="{{unbound id}}" data-position="{{unbound position}}">
	      <table class="table">
	        <tr>
	          <td class="list-element-striped" width="5%" style="text-align:right">{{position}}</td>        
	    {{#if controller.yourRanking}} 
	          <td class="list-element-striped" width="10%">
              <a {{action 'moveToPreviousPage' id}}>previous page</a><br/>
	            <a {{action 'moveToNextPage' id}}>next page</a>
	          </td> 
	    {{/if}}
	          <td class="list-element-striped" width="55%">
	            {{#link-to 'thing' thingId}}{{thingName}}{{/link-to}}
	          </td>
	          <td class="list-element-striped" width="10%">
	            <div class="stars">
	              {{#if is5StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is4StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is3StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is2StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}{{#if is1StarClass}}<span class="active"></span>{{else}}<span></span>{{/if}}
	            </div>
	          </td>
	        </tr>
	      </table>
	    </li>
	  {{/each}}
	</ul>

  {{partial 'shared/pagination'}}
{{else}}
  No items found.
{{/if}}