{{#if anyItems}}
<table class="table table-striped" style="margin-top:15px;">
  <tbody>
  {{#each model as |argument|}}
    <tr>
      <td>
        {{argument.topic.name}}
      </td>
      <td>
        {{argument.left.value}}
      </td>
      <td>
        vs
      </td>
      <td>
        {{argument.right.value}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  <span style="position:relative; top:10px;">No arguments found.</span>
{{/if}}

{{partial 'shared/pagination'}}