{{partial 'rankings/form'}}

<h2>User votes</h2>

{{#if anyUserRankingItems}}
<table class="table table-striped" style="margin-top:15px;">
  <tbody>
  {{#each userRankingItems as |userRankingItem|}}
    <tr>
      <td style="width:50px;">
        {{userRankingItem.position}}
      </td>
      <td>
        {{#link-to 'user_ranking' userRankingItem.user_name userRankingItem.ranking_adjective userRankingItem.ranking_negative_adjective userRankingItem.ranking_topic userRankingItem.ranking_scope 1}}
          {{userRankingItem.user_name}}
        {{/link-to}}
      </td>
      <td>
        <div class="stars">
          {{stars-html userRankingItem.stars}}
        </div>
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  <span style="position:relative; top:10px;">No user votes found.</span>
{{/if}}

{{partial 'shared/pagination'}}