<h1>
{{name}} 
vs. 
{{input type="text" value=otherThingName placeholder="Other thing" data-autocomplete="/api/v1/things/autocomplete"}}
<button class="compare_button" {{action 'compare'}}>Compare</button>
</h1>

<ul class="nav nav-pills">
  {{#link-to 'rankings.index' name 1 tagName="li"}}<a {{bind-attr href="view.href"}}>Rankings</a>{{/link-to}}
  {{#link-to 'arguments.index' name 1 tagName="li"}}<a {{bind-attr href="view.href"}}>Arguments</a>{{/link-to}}
</ul>

{{outlet}}