{{input id="thing_name" type="hidden" value=thingName}}

{{#if anyItems}}
<table class="table table-striped" style="margin-top:15px;">
  <tbody>
  {{#each model}}
    <tr>
      <td>
        {{topicName}}
      </td>
      <td>
        {{value}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  <span style="position:relative; top:10px;">No arguments found.</span>
{{/if}}

{{partial 'shared/pagination'}}

<button class="add_argument_button" {{action 'openModal' 'arguments.new'}}><i class="icon-plus"></i> Add argument</button>

{{outlet}}
{{outlet modal}}