{{#if anyItems}}
<table class="table table-striped" style="margin-top:15px;">
  <tbody>
  {{#each collection as |ranking|}}
    <tr>
      <td>
        {{#link-to 'rankings.show' ranking.adjective ranking.negativeAdjective ranking.topic ranking.scope 1}}
          {{ranking.adjective}} and {{ranking.negativeAdjective}} {{ranking.topic}} {{ranking.scope}}
        {{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  No rankings found.
{{/if}}