<form class="form-inline" id="new_ranking_form">
  <p>
{{#if rankingItemThingName}}
    {{#link-to 'thing' rankingItemThingName}}{{rankingItemThingName}}{{/link-to}} 
    &nbsp;&nbsp;is&nbsp;&nbsp; 
{{/if}}
    
{{#if userName}}  
    {{#link-to 'user' userName 1}}{{name-with-apostrophe userName}}{{/link-to}} 
    &nbsp;&nbsp; 
{{else}}
  {{#if currentUser}}
    <span class="btn-group" data-toggle-name="ranking_form_your_ranking" data-toggle="buttons-radio">
      <button class="{{globalRankingClass}}" type="button" data-toggle-value="1" {{action 'setGlobalRanking'}}>Global</button>
      <button class="{{yourRankingClass}}" type="button" data-toggle-value="0" {{action 'setYourRanking'}}>Your</button>
    </span> 
    &nbsp;&nbsp; 
  {{/if}}
{{/if}}
    
{{#if position}}
    #{{position}}
{{/if}}
    
    {{input size="10" value=adjective placeholder="Adjective" class="adjective" data-autocomplete="/api/v1/rankings/attributes/adjective/autocomplete"}} 
    &nbsp;&nbsp;
    and 
    &nbsp;&nbsp;
    {{input size="10" value=negativeAdjective placeholder="Negative adjective" class="negative_adjective" data-autocomplete="/api/v1/rankings/attributes/negative_adjective/autocomplete"}}
    &nbsp;&nbsp;
    {{input value=topic placeholder="Topic" class="topic" data-autocomplete="/api/v1/rankings/attributes/topic/autocomplete"}}
    &nbsp;&nbsp;
    {{input size="10" value=scope placeholder="Scope" class="scope" data-autocomplete="/api/v1/rankings/attributes/scope/autocomplete"}} 
    &nbsp;&nbsp;
    <button class="get_ranking_button btn btn-default" type="button" {{action 'getRanking'}}>Get</button>
  </p>
</form>