{{#if anyItems}}
<table class="table table-striped" style="margin-top:15px;">
  <tbody>
  {{#each model}}
    <tr>
      <td>
        {{#link-to 'rankings.show' adjective negativeAdjective topic scope 1}}{{adjective}} and {{negativeAdjective}} {{topic}} {{scope}}{{/link-to}}
      </td>
    </tr>
  {{/each}}
  </tbody>
</table>
{{else}}
  No rankings found.
{{/if}}

{{partial 'shared/pagination'}}