<nav>
  <ul class="pagination">
  {{#if showFirstPageLink}}
	  <li class="first"><a {{action 'goToPage' 1}}>&laquo; First</a></li>
	{{/if}}
	
	{{#if showPreviousPageLink}}
  	<li class="prev"><a {{action 'goToPage' previousPage}}>&laquo; Previous</a></li>
	{{/if}}
	
	{{#each pages as |currentPage|}}
	  <li class="{{if currentPage.isCurrent 'active'}}"><a href="#" {{action 'goToPage' currentPage.number}}>{{currentPage.number}}</a></li>
	{{/each}}
	
	{{#if showNextPageLink}}
  	<li class="next_page"><a {{action 'goToPage' nextPage}}>Next &raquo;</a></li>
	{{/if}}
	
	{{#if showLastPageLink}}
  	<li class="last next"><a {{action 'goToPage' totalPages}}>Last &raquo;</a></li>
	{{/if}}
	</ul>
</nav>